@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
  }

  .item {
    @apply max-w-[350px] p-8 bg-[#f2f2f2]
  }

  .container {
    @apply flex items-start justify-between
  }

  .menu {
    width: 120px;
}

/* Filter Style */

.container ul {
  @apply flex flex-col gap-2 bg-white rounded-xl border-solid border-[1px] border-black
}

.container li {
  @apply text-black font-montserrat cursor-pointer block
}

ul {
  @apply absolute
}

.container ul,
li {
  @apply list-none m-0 p-2 hover:text-gray-500 duration-75 
}

.container button {
  @apply bg-white text-black rounded-xl border-solid border-[1px] border-black py-[10px] px-[20px] text-lg font-bold cursor-pointer w-full text-left mb-[10px] flex justify-between gap-2 items-center
}

.container button path {
    @apply fill-black
}

/* button style */
.cta {
 @apply w-full bg-primary-gray-500 hover:bg-primary-gray-400 h-9 px-[17px] py-0.5 rounded border border-black justify-center items-center gap-2.5 inline-flex cursor-pointer ease-in 
}

.cta-txt {
  @apply text-white text-sm font-semibold cursor-pointer
}

/* INPUT STYLES */
.input {
  @apply w-full h-9 px-[17px] py-0.5 bg-zinc-300 rounded border border-black justify-start items-center gap-2.5 inline-flex
}

.input-txt {
  @apply text-black text-sm font-semibold
}

/* DETAILS STYLES  */
.main {
  @apply flex flex-col items-center
}

.slider-container {
  @apply flex flex-col items-center my-6
}

.slider {
  @apply relative w-[531px] h-[615px] overflow-hidden max-sm:h-[400px] max-sm:w-[300px]
}

.image {
  @apply absolute h-full w-full bg-cover bg-no-repeat bg-center hover:cursor-grab active:cursor-grabbing
}

.image {
  will-change: transform, opacity;
}

.buttons {
  @apply mt-3
}

.buttons button {
  @apply outline-none border-none select-none py-10 px-3 transition-all
}

.buttons button {
  transition: .07s ease-out transform;
}

.thumbnails {
  @apply flex justify-center
}

.thumbnails .thumbnail-container {
  @apply relative h-32 w-24 max-sm:h-20 max-sm:w-14 hover:cursor-pointer mr-1
}

.thumbnail-container > img {
  @apply h-full w-full object-cover object-center
}

.active-indicator {
  @apply absolute top-0 left-0 h-full w-full pointer-events-none bg-[#5B6175] opacity-95 z-10
}

.active-indicator {
  transform: scaleX(0);
  transform-origin: left;
  transition: 1s cubic-bezier(0.56, 0.03, 0.12, 1.04) transform;
}

.active {
  transform: scaleX(1);
}
/* .thumbnails .thumbnail-container .active-indicator &.active {
  transform: scaleX(1);
} */
